body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Header stuff here. */
header {
background-color: #f2eee9;
padding: 1rem 2vw;
}

header h1{
margin: 0;
color: #e85234;
font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
font-size: 3rem;
font-weight: 800;
  }
  

header p{
margin: 0;
color:#e85234;
letter-spacing: .5px;
font-family: -apple-system-subheadline, BlinkMacSystemFont, sans-serif;
font-size: 1.5rem;
}

/* Navigation section here. */
nav {
background-color: #eed9c4;
}

nav ul {
list-style-type: none;
padding: 0 2vw;
margin: 0;
display: flex;
}

nav a {
font-size: 1.1rem;
text-decoration: none;
color: #96add6;
display: block;
padding: .83rem 2rem;
font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
font-size: 1.25rem;
font-weight: 700;
}

nav li.active a {
background-color: #f9b8af;
color: white;
}

nav a:hover {
color: #f9b8af;
}

/* Main Section Here. */

main {
padding: 1rem 2vw;
}

main a {
color: #96add6;
}

main h1 {
color:#96add6;
font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
font-size: 2.25rem;
}

main h2 {
color:#e85234;
margin-bottom: .2rem;
}

main p {
color: #2f3133;
margin: 0 0 .3rem 0;
}

main ol {
padding: .5rem 3vw;
background-color: #f2eee9;
}

main dl dt {
color: #96add6;
font-weight: 700;
}

main dl dd {
color: #2f3133;
font-size: .9rem;
}

main ul {
list-style-type:circle;
}

main ul li {
line-height: 125%;
margin-bottom: .5rem;
font-size: .9rem;
}

main address {
font-style: normal;
background-color: #eed9c4;
padding: .5rem;
width: 12.5rem;
font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
border-style: solid;
   border-color: #e85234;
   border-radius: .9rem;
}

main a:hover {
color: #e85234;
}

/* Footer section here. */

footer {
background-color: #f2eee9;
text-align: center;
color: #2f3133;
padding: 1rem 0;
font-size: .8rem;
}

footer a {
color: #2f3133;
}